@using MVC.Helpers
@{
    Layout = "~/Views/Dict/Layout.cshtml";
}

    @Html.RenderAddForm()
    <a href="/">Back</a>


@section Header{
    <h1>Add phone number</h1>
    <hr />
}

@section Footer{
    <hr />
}