@using Data.Models;
@{
    Layout = "~/Views/Dict/Layout.cshtml";
    User user = ViewBag.user;
}
<form action="/dict/deletesave" method="post">
    <input type="hidden" name="id" value="@user.Id" />
    <label for="name">Name:</label>
    <input type="text" name="name" value="@user.Name" disabled /><br />
    <label for="phone">Phone:</label>
    <input type="tel" name="phone" value="@user.Number" disabled /><br />
    <input type="submit" name="Answer" value="Yes" />
    <input type="submit" name="Answer" value="No" />
</form>

@section Header{
    <h1>Delete phone number?</h1>
    <hr />
}

@section Footer{
    <hr />
}