@using Data.Models;
@{
    Layout = "~/Views/Dict/Layout.cshtml";
    List<User> users = ViewBag.getAll;
    string errorMessage = ViewBag.errorMessage;
}




    @if (!String.IsNullOrEmpty(errorMessage))
    {
        <div style="color:red">@errorMessage</div>
    }
    <table border="1">
        <caption>Phone book</caption>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (User u in users)
        {
            Html.RenderPartial("PhoneBookRow", u);
        }
    </table>
    <a href="/dict/add">Add</a>


@section Header{
    <h1>Welcome to phone book</h1>
    <hr/>
}

@section Footer{
    <hr/>
}