<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phone book</title>
</head>
<body>
    <header style="text-align:center">@RenderSection("Header")</header>
    @RenderBody()
    <footer style="text-align:center">@RenderSection("Footer")</footer>
</body>
</html>
