@using Data.Models;
@{
    Layout = "~/Views/Dict/Layout.cshtml";
    User user = ViewBag.user;
}

<form action="/dict/updatesave" method="post">
    <input type="hidden" name="id" value="@user.Id" />
    <label for="name">Name:</label>
    <input type="text" name="name" value="@user.Name" required /><br />
    <label for="phone">Phone:</label>
    <input type="tel" name="phone" value="@user.Number" required /><br />
    <input type="submit" name="Update" value="Update" />
</form>
<a href="/">Back</a>


@section Header{
    <h1>Update phone number</h1>
    <hr />
}

@section Footer{
    <hr />
}